<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="card">
		<form action="#" th:action="@{./admin/voitures/edit}" th:object="${voiture}" method="post">
			
				ID: <input  type="text" th:field="*{id}" /></br>
				Marque : <input disabled type="text" th:field="*{marque}" /></br>
				Modele : <input disabled type="text" th:field="*{modele}" /></br>
				Couleur : <input disabled type="text" th:field="*{couleur}" /></br>
				Prix : <input  type="text" th:field="*{prix}" /></br>
				<input type="submit" value="Submit" /> <input type="reset" value="Reset" />
		</form>
	</div>
</body>
</html>