<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<title>Monster Garage - Admin</title>
</head>
<body style="background-color: #dddddd">
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand text-danger"
			style="font-family: Impact; font-size: 25px;" href="#"><img th:width="200px" th:src="@{'/img/logoWS.png'}"></a>
		</button>
		<span style="font-size: 25px;" class="navbar-text">Administrateur
			<span class="fa fa-lock"></span>
		</span>
		</div>
	</nav>
<body>
	<div class="container">
	<h2>Voulez-vous supprimer la voiture sélectionnée ?</h2>
		<form action="#" th:action="@{/admin/voitures/delete/}" th:object="${voiture}"  method="post">
			
				 <input  type="hidden" th:field="*{id}" /></br>
				<img class="img-fluid img-thumbnail" th:width="500px"
				th:src="@{'/img/'+ ${voiture.getPhoto()}}">
			<p>
				<b>Marque : </b><span th:text="${voiture.getMarque()}"></span>
			</p>
			<p>
				<b>Modele : </b><span th:text="${voiture.getModele()}"></span>
			</p>
			<p>
				<b>Couleur : </b><span th:text="${voiture.getCouleur()}"></span>
			</p>
			<p>
				<b>Prix : </b><span th:text="${voiture.getPrix()}"></span>
			</p>
			<p>
				<b>Année de Sortie : </b><span th:text="${voiture.getAnneeSortie()}"></span>
			</p>
			<p>
				<b>GPS : </b><span th:text="${voiture.isGps()} ? 'Oui' : 'Non'"></span>
			</p>
			<p>
				<b>Climatisation : </b><span th:text="${voiture.isClimatisation()} ? 'Oui' : 'Non'"></span>
			</p>
						<input type="submit" class="btn btn-primary" value="Valider" /> 
			<a th:href="@{'~/admin/voitures'}"> <input type="button" class="btn btn-danger" value="Retour">
			</a>
		</form>
	</div>
</body>
<footer class="footer bg-dark">
	<div class="text-center text-light">© 2019 MIAGE Concession
</footer>
</html>