<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="style.css">
<title>Accueil Admin</title>
</head>
<body style="background-color: #dddddd">
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand text-danger"
			style="font-family: Impact; font-size: 25px;" href="#">MONSTER
			GARAGE</a>
		</button>
		<span style="font-size: 25px;" class="navbar-text">Administrateur
			<span class="fa fa-lock"></span>
		</span>
		</div>
	</nav>
<body>
	<div class="card">
		<form action="#" th:action="@{/admin/voitures/delete/}" th:object="${voiture}"  method="post">
			
				 <input  type="hidden" th:field="*{id}" /></br>
				<img
				class="img-fluid img-thumbnail" th:width="500px"
				th:src="@{'/img/'+ ${voiture.getPhoto()}}">
				<p> Marque : <span th:text="${voiture.getMarque()}"></span> </p>
				<p>Modele : <span th:text="${voiture.getModele()}"></span> </p>
				<p>Couleur : <span th:text="${voiture.getCouleur()}"></span> </p>
				<p>Prix : <span th:text="${voiture.getPrix()}"></span> </p>
				<p>Année de Sortie : <span th:text="${voiture.getAnneeSortie()}"></span> </p>
				<p>GPS : <span th:text="${voiture.isGps()}"></span> </p>
				<p>Climatisation : <span th:text="${voiture.isClimatisation()}"></span> </p>
				
				<input type="submit" value="Supprimer" /> <a th:href="@{'~/admin/voitures'}" > <input type="button" value="Retour"> </a>
		</form>
	</div>
</body>
</html>