<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<title>Monster Garage - Admin</title>
</head>
<body style="background-color: #dddddd">
	<nav class="navbar navbar-dark bg-dark">
		<a class="navbar-brand text-danger"
			style="font-family: Impact; font-size: 25px;" href="#">MONSTER
			GARAGE</a>
		</button>
		<span style="font-size: 25px;" class="navbar-text">Administrateur
			<span class="fa fa-lock"></span>
		</span>
		</div>
	</nav>
	<div class="container">
		<h2>Ajouter une nouvelle voiture au catalogue</h2>
		<form action="#" th:action="@{/admin/voitures/create/}" th:object="${voiture}" enctype="multipart/form-data" method="post">
			<div class="form-group">
				<label>Marque</label> 
				<input required type="text" th:field="*{marque}" class="form-control col-sm-3" placeholder="Marque"/>
			</div>

			<div class="form-group">
				<label>Modele</label> 
				<input required type="text" th:field="*{modele}" class="form-control col-sm-3"  placeholder="Modèle"/>
			</div>
			<div class="form-group">
				<label>Couleur</label> 
				<input required type="text" th:field="*{couleur}" class="form-control col-sm-3" placeholder="Couleur"/>
			</div>
			<div class="form-group">
				<label>Prix</label> <input required type="number" min="1" max="100000000" th:field="*{prix}" class="form-control col-sm-3"  placeholder="Prix" />
			</div>
			<div class="form-group">
				<label>Année de Sortie</label> <input required type="number" min="1500" max="2021" th:field="*{anneeSortie}" class="form-control col-sm-3"  placeholder="Année de Sortie" />
			</div>
			<div class="form-group">
				<label>GPS</label> </br>
				Oui <input required type="radio" name="gps"th:field="*{gps}" th:value="true"  > 
				Non <input type="radio" name="gps" th:field="*{gps}" th:value="false"  checked>
			</div>
			<div class="form-group">
				<label>Climatisation</label></br>
				Oui <input required type="radio" name="clim" th:field="*{climatisation}" th:value="true">
				Non <input type="radio" name="clim" th:field="*{climatisation}"th:value="false" checked>
			</div>
			<p>
				Photo
				<form:label path="file"></form:label>
				<input type="file" name="file" />
			</p>
			<input type="submit" class="btn btn-primary" value="Valider" />
		</form>
	</div>
</body>
<footer class="footer bg-dark">
	<div class="text-center text-light">© 2019 Copyright Monster Garage</div>
</footer>
</html>